@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-800;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .loader {
    @apply w-12 h-12 border-4 border-t-indigo-600 border-solid rounded-full animate-spin;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}